<?xml version="1.0" encoding="UTF-8"?>
<config>
    <app>
        <name>My firs App</name>
    </app>    
    <models>
        <user label='name'>
            <fields>
                <email label=''></email>
                <password label=''></password>
            </fields>
        </user>
        <post>
            <title></title>
        </post>
    </models>
     
</config>
